.header {
    background-color: #3E5334;
    padding: 10px 20px;
    height: 100px;
    display: block;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
h1{
  font-family: Courier, monospace;
  color: #d8e8d1;
}  
